---
import BaseLayout from '../layouts/BaseLayout.astro'
import Greeting from '../components/Greeting.jsx'
const pageTitle = 'Página desde index'
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Mi impresionante subtítulo del blog</h2>
  <Greeting messages={['Hola', 'Qué tal', 'Hola a todos']} />
  <Greeting client:load messages={['Hola', 'Qué tal', 'Hola a todos']} />
</BaseLayout>
