---
import Social from '../components/Social.astro'
const platform = 'github'
const username = 'withastro'
---

<footer>
  <p>
    ¡Más información sobre mis proyectos en <a
      href={`https://www.${platform}.com/${username}`}>{platform}</a
    >!
  </p>
  <Social platform="twitter" username="vidalordonezhn" />
  <Social platform="github" username="vidalordonezhn" />
  <Social platform="linkedin" username="/in/vidalordonezhn" />
</footer>

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>
